.pricing_panel {
    padding: 70px 250px;
    display: flex;
    flex-direction: column;
    background-color: rgb(241, 239, 224);
}

.pricing_panel_head {
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 435px;
}
.pricing_panel_summary{
    align-self: center;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 2.30625px;
    color: #48555B;  
}
.pricing_text{
    margin-top: 15px;
    align-self: center;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.1875px;
    color: #48555B;
}

.pricing_line {
    align-self: center;
    margin-top: 15px;
    width: 64px;
    height: 2px;
    background: #FF8B38;
}

.pricing_content {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.pricing_block{
    display: flex;
    flex-direction: column;
    width: 343px;
    height: 462px;
}

.pricing_block:not(:last-child){
    margin-right: 40px;
}

.block_summary{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;  
    background: #333333;
    color: #FFFFFF;
}
.price{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background: #333333;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    color: #FFFFFF;
    border-top: 1px solid #FFFFFF;
    border-bottom:1px solid #FFFFFF; ;
}
.payment{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background: #333333;
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.7);
}
.foot_line{
    width: 343px;
    height: 5px;
    background: #FF8B38;
}

.block_text{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    background-color: #fff;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #86878B;
}

.block_text:not(:last-child){
    border-bottom: 1px solid rgb(235, 232, 232);
}