.example_title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.example_title h3{
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 2.30625px;
    color: #48555B;
}

.example_line{
    margin-top: 15px;
    width: 50px;
    height: 2px;
    background: #FF8B38;
}

.workplace_example{
    padding: 70px 250px;
    background-color: rgb(241, 239, 224);
}

.example_wrapper{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    transition: all 1s ease-in-out;

}

.gallery{
    overflow: hidden;
    width: 810px;
    height: 370px;
}

.carousel{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.arrow{
  width: 25px;
  height: 25px;
}

.prev {
    left: 7px;
  }

.next {
    right: 7px;
}

.partner_block{
    padding: 40px 25px;
    width: 270px;
    height: 300px;
    margin: 0 30px;
}

.partner_logo{
    width: 150px;
    height: 150px;
}

.partner_block h2{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.426667px;
    color: #48555B;
}

.partner_block p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.1875px;
    color: #48555B;
}
