
.arrow_circle_up{
    background-image: url(../assets/images/arrow-up-solid.svg);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 9999;
    position: fixed;
    bottom: 15%;
    left: 5%;
    background-color: transparent;
    width: 45px;
    height: 45px;
    border: transparent;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgb(230, 183, 97);
    display: none;
    transition: 0.2s;
}

.arrow_circle_up:hover{
    cursor: pointer;
}

.arrow_circle_up:focus{
    outline: none;
}

.up_text{
    display: none;
    z-index: 9999;
    position: fixed;
    bottom: 15%;
    left: 5%;
}